.btn1 {
    width: 141px;
    height: 48px;
    border: none;
    border-radius: 5px;
    background-color: var(--primaryBtn);
    color: var(--primaryBtnText);
    font-size: 16px;
    font-weight: 700;
    font-family: Kumbh Sans;
    transition: all 0.2s ease-in-out;
}

.btn1:hover {
    cursor: pointer;
    background-color: var(--primaryBtnHover);
    scale: 1.05;
}

.btn1:disabled {
    cursor: not-allowed;
    background-color: var(--gray);
}

.btn2 {
    width: 141px;
    height: 48px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondaryBtn);
    color: var(--secondaryBtnText);
    font-size: 16px;
    font-weight: 700;
    font-family: Kumbh Sans;
    transition: all 0.2s ease-in-out;
}

.btn2:hover {
    cursor: pointer;
    background-color: var(--secondaryBtnHover);
    scale: 1.05;
}

.btn-search{
    min-width: 123px;
    margin-right: 16px;
    padding: 0;
}

.btn-loadmore{
    margin-bottom: 104px;
}

.btn-home-newWorksite, .btn-home-existingWorksite{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 30rem;
    background-color: var(--bg);
    border-radius: 10px;
    border: 5px solid #3B9F45;
    padding: 2rem 4rem 20rem;
    text-align: center;
    font-family: 'Kumbh Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    height: 100%;
}

.btn-home-existingWorksite{
    border: 5px solid #C3CF35;
}