.back_formu{
    display: flex;
    align-content: center;
    width: 100%;
    justify-content: center;
}

.formulaire{
    display: flex;
    width: 80%;
    height: 80%;
    padding-top: 5rem;
    padding-inline: 5rem;
    flex-direction: column;
    background-color: var(--bg);
    align-self: center;
    gap: 4rem;
    border-radius: 1rem;
}

.input_c, .input_a {
    width: 42.5rem;
    height: 5rem;
}

.input_p{
    width: 1.3rem;
}

.input_zone{
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.input_bot{
    display: flex;
    gap: 4rem;
}

.btn_zone{
    display: flex;
    gap: 5rem;
    justify-content: center;
}