.building-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--secondaryBg);
    border-radius: 1rem;
    padding: 4rem;
    gap: 1.5rem
}

.building-card a {
    font-size: 1.8rem;
    text-underline-offset: 0.5rem;
    color: var(--primaryBtn);
}

.building-card a:hover {
    color: var(--primaryBtnHover);
    transform-origin: center;
    text-decoration: underline;
}

.building-card .btn1 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem;
    width: auto;
    height: auto;
}

.actionCote{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 2rem;
}

@media screen and (max-width: 420px) {
    .actionCote {
        flex-direction: column;
        gap: 2rem;
    }
}

