.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

.header p{
    color: var(--white);
}

.header nav{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 20px;
}