.create-worksmanagers-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-worksmanagers-container{
    background-color: var(--bg);
    border-radius: 1rem;
    padding: 4rem;
    margin: 5rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-worksmanagers-form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.create-worksmanagers-form .input-container{
    width: 100%;
}

.cta-container {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}



@media screen and (max-width: 580px) {
    .cta-container {
        flex-direction: column;
        gap: 2rem;
    }
    .create-worksmanagers-container h1 {
        font-size: 2rem;
    }
}