.folding-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 4rem;
    padding: 5rem;
}



.bib-img-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 10rem;
    padding: 5rem;
}

.folding-container button{
    position: absolute;
    top: 3rem;
    left: 3rem;
}

@media screen and (max-width: 530px) {
    .existing-site-page {
        padding: 1rem;
    }
    .existing-site-container {
        padding: 2rem 2rem 2rem 2rem;
    }
}

